.container-mcq {
  font-family: "Segoe UI", Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* MAIN */
.main-mcq {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* QUIZ CARD */
.quizCard, .resultCard {
  background: #ffffff;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  width: 90%;
  max-width: 600px;
  animation: fadeIn 0.6s ease-in-out;
}

.question {
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: bold;
  color: red;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  background: #e3f2fd;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-align: left;
}

.option:hover {
  background: #90caf9;
}

.selected {
  background: #42a5f5;
  color: white;
  font-weight: bold;
}

.progressBar {
  height: 8px;
  background: #cfd8dc;
  border-radius: 5px;
  margin: 15px 0;
}

.progressFill {
  height: 100%;
  background: green;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}

.btnContainer {
  margin-top: 10px;
}

.nextBtn {
  background: #1976d2;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.nextBtn:hover:enabled {
  background: #0d47a1;
}

.nextBtn:disabled {
  background: #90a4ae;
  cursor: not-allowed;
}

/* RESULT */
.celebrationText {
  color: #0d47a1;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.hurrayImg {
  width: 150px;
  margin: 15px 0;
}

.scoreText {
  margin: 15px 0;
  font-size: 1.2rem;
  color: #1565c0;
}

.restartBtn {
  background: #1565c0;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.restartBtn:hover {
  background: #0d47a1;
}


/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
