/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.ep-container{
    text-align: center;
  min-height: 100vh;
  padding: 50px;
}

/* Titles */
.ep-subtitle {
  text-align: center;
  margin: 10px 0 2px;
  font-size: 27px;
  font-weight: 600;
  color: #333;
}

.ep-emergency-title {
  text-align: center;
  margin: 10px 0 20px;
  font-size: 20px;
  color: #444;
}

/* Card */
.ep-card {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  box-shadow: 0px 6px 18px rgba(0,0,0,0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  margin: 15px auto;
  max-width: 1200px;
  animation: ep-fadeIn 1s ease-in-out;
}

/* Emergency Contacts */
.ep-contacts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.ep-contact {
  text-align: center;
  flex: 1 1 150px;
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}
#fire-ep{
    background: #FF8080;
}

#ambulance-ep{
    background: linear-gradient(145deg, #cce7ff, #66b3ff);
}


#police-ep{
    background-color: #BBAB8C;
}

.ep-contact img {
  width: 70px;
  margin-bottom: 8px;
  transition: transform 0.3s;
}

.ep-contact:hover {
  transform: translateY(-8px);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.25);
}

.ep-contact img:hover {
  transform: scale(1.15);
}

.ep-contact a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 16px;
}

/* Safety Section */
.ep-safety-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

/* Checklist */
.ep-checklist {
  flex: 1 1 60%;
  font-size: 16px;
  line-height: 1.2;
}

.ep-checklist h4 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #d18a00;
}

.ep-checklist p {
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Evacuation */
.ep-evacuation {
  flex: 1 1 30%;
  text-align: center;
  background: #98EECC;
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.ep-evacuation img {
    width: 85px;
  margin-bottom: 8px;
  transition: transform 0.3s;
}

.ep-evacuation:hover {
  transform: translateY(-8px);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.25);
}

.ep-evacuation img:hover {
  transform: scale(1.15);
}

.ep-evacuation a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 16px;
}

/* Note */
.ep-note {
  text-align: center;
  margin-top: 15px;
  font-style: italic;
  font-size: 18px;
  color: #444;
  font-weight: 500;
}


/* Animation */
@keyframes ep-fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

/* Responsive */
@media (max-width: 768px) {
  .ep-header .ep-title {
    font-size: 18px;
  }
  .ep-safety-section {
    flex-direction: column;
  }
  .ep-checklist, .ep-evacuation {
    flex: 1 1 100%;
  }
}
