
*{
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
.disaster-guide {
  display: flex;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

/* Left Flow */
.flow-chart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background: #0b2c449c;
  border-radius: 10px;
  padding: 20px;
  margin: 0;
  position: relative;
  right: 30px;
  width:250px;
  height: 90vh;
  border-top-right-radius:50px;
 border-bottom-right-radius: 50px;
  box-shadow:  inset 8px 8px 12px rgba(0,0,0,0.25),   /* bottom-left */
    inset -8px -8px 18px rgba(0, 0, 0, 0.473);
}
.floe{
  position: relative;
  top: 50px;
}

.flow-box {
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  margin: 0;
  text-align: center;
}

.flow-box.yellow {
  background: #d5e04d;
  color: black;
  position: relative;
  top: 15px;
}
.flow-box.blue {
  position: relative;
  bottom: 15px;
  background: #3c84e6;
}
.flow-box.green {
  position: relative;
  bottom: 30px;
  background: #33b249;
 
}

.arrow {
  font-size: 120px;
  margin: 0;
  text-align: center;
  position: relative;
  bottom: 30px;
}

/* Content */
.content-resp {
  flex: 1;
}

/* Title Row */
.title-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px;
}

.title-row h2 {
  font-size: 24px;
  font-weight: bold;
}

.icon {
  font-size: 30px;
}

.sos-btn img{
  height: 100px;
  position: relative;
  left: 100px;
  animation: breathe 1s infinite ease-in-out;
}

/* Cards */
.cards-resp {
  display: flex;
  gap:40px;
  margin-left: 160px;
}

.card-resp {
  flex: 1;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  bottom: 40px;
  min-height: 350px;
  max-width: 400px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  box-shadow: inset 2px 2px 10px rgba(169, 168, 168, 0.29),
              inset -2px -2px 10px rgba(0, 0, 0, 0.501);
}
.card-resp:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3),
              0 0 15px rgba(255, 255, 255, 0.6);
}

.green-card-resp {
  background: #73f382;
}
.red-card-resp {
  background: #fa8a8a;
}

.card-resp h3 {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

.card-resp ul {
  padding-left: 20px;
  font-size: 16px;
}

.card-resp li {
  margin: 10px 0;
}

/* Cartoon Images */
.boy-img {
  position: absolute;
  right: 155px;
  bottom: 100px;
}

.girl-img {
  position: absolute;
  left: 160px;
  bottom: 5px;
}
